#footer
  .container.text-center
    div
      strong Real Time Planning Poker
      |  Project
      |  ·
      | Created by
      a(href='https://github.com/bcldvd')  David Bocle
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/lefty01/bluepoker') GitHub Project
      |  ·
      a(href='https://github.com/lefty01/bluepoker/issues')  Issues
    div
      a(href='http://bluemix.net')  Bluemix